@import url(http://fonts.googleapis.com/css?family=Courgette|Roboto:300,300italic);

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Courgette', cursive;
    font-weight: normal;
}